<!--﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<dornel.Models.Visual>
-->
<div class="text-center">
    
    <h1 class="display-4">SQL Saturday 2025 by Comunidado</h1>
    
    <img src="logo.jpeg" class="img-fluid" alt="Responsive image" width: 400px>
    <br>
    <h4>Aqui você encontra todos os detalhes do SQL Saturday de 5 de Abril de 2025!</h4>

<p><a href="https://www.sympla.com.br/sql-saturday-2025---joinvillesc---by-comunidado__2736164"> <h1 class="display-7">INSCREVA-SE AQUI !!!</h1> </a></p> 
<p>
</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfW7MBtkgVbTHlJYBoowHmi9lEJi6PWXEncrRGMMbaCkORAeg/viewform?usp=sf_link"><h1 class="display-6">QUERO PALESTRAR</h1></a></p>
<p>
</p>
<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSe6Q3YOK0KPzzweYOWwEdaSYrBNFDcHhxEVoozJ8apPPQTeUA/viewform"><h1 class="display-6">QUERO PATROCINAR</h1></a></p>
<p>
</p>
</p> 
<img src="whats.jpg" class="img-fluid" alt="Responsive image" width: 40px>
<p>
<p><a href="https://chat.whatsapp.com/HE8txuef84qDR3Y45AFVLF">Comunidado no Whatsapp</a></p>
<p>

<a href="https://sqlsaturday.com/2025-04-05-sqlsaturday1104/"> Site Oficial do SQL Saturday Global </a></p>

</p>
<table class="table">
 <thead>
<th>
Horário
</th>
<th>
Auditório da Reitoria 
</th>
<th>
Anfiteatro II
</th>
<th>
Anfiteatro I
</th>   
</thead> 

<tbody>
<tr>
    <td>08:30 - 09:00 
    </td>
    <td>Abertura/Key Note 
    </td>
    <td>Abertura/Key Note (Auditório da Reitoria). 
    </td>
    <td>Abertura/Key Note (Auditório da Reitoria). 
    </td>
</tr>

<tr>
    <td>09:00 - 09:50 
    </td>
    <td><p><a href="https://www.linkedin.com/in/gersonggv"> Gerson Viergutz - Power BI na era da IA Generativa.</a></p>
    </td>
    <td>(Auditório da Reitoria). 
    </td>
    <td>(Auditório da Reitoria). 
    </td>
</tr>

<tr>
</tr>
    <td>09:50 - 10:40
    </td>
    <td><p><a href="https://linkedin.com/in/alisonpezzott"> Alison Pezzott - Fabric e Git </a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/zavaschi"> Thiago Zavaschi - Introdução ao Azure OpenAI ("ChatGPT") </a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/renatogroffe">Renato Groffe e Walter Coan - Implementando Retrieval-Augmented Generation utilizando Vector Search no Azure Cosmos DB</a></p>
    </td>
</tr>
</tr>
    <td>10:40 - 11:10
    </td>
    <td>Coffee Break. 
    </td>
    <td>Coffee Break. 
    </td>
    <td>Coffee Break.
    </td>
</tr>
</tr>
    <td>11:10 - 12:00
    </td>
    <td><p><a href="https://www.linkedin.com/in/yona-hirakawa"> Yoná Hirakawa Huggler - Databricks 101: Iniciando seus Trabalhos com Engenharia de Dados.</a></p>
    </td>
    <td><p><a href="https://sqlcrespi.com"> Rodrigo e Tiago Crespi - Alta disponibilidade de PostgreSQL no Azure.</a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/wagner-crivelini"> Wagner Crivelini - Criptografia e Mascaramento de Dados no AZURE SQL DB</a></p>
    </td>
</tr>
</tr>
    <td>12:00 - 13:30
    </td>
    <td>Almoço. 
    </td>
    <td>Almoço. 
    </td>
    <td>Almoço. 
    </td>
</tr>
</tr>
    <td>13:30 - 14:20
    </td>
    <td><p><a href=""> Marcus Bittencourt - GEN AI Data Platform</a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/ge%C3%B3rgia-spirandeli-7b725810b/">Georgia Spirandeli - Explorando realidades sintéticas e aplicações com a IA.</a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/igorabdo">Igor George Abdo - Entendendo como monitorar o Microsoft Fabric</a></p>
    </td>
</tr>
</tr>
    <td>14:20 - 15:10
    </td>
    <td><p><a href="https://www.linkedin.com/in/waltercoan"> Walter Coan - Como construir uma rede neural no Azure Machine Learning com a tecnologia Cuda da NVIDIA.</a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/paulosantosbi"> Paulo Santos -  WhatsApp + Power BI: Democratizando a Tomada de Decisões com IA</a></p>
    </td>
    <td><p><a href="http://www.linkedin.com/in/yurianalistabi">Yuri Viana Fernandes - Code e Commit Review com Chat GPT, otimizando a produtividade no desenvolvimento de aplicações e Análise de Dados.</a></p>
    </td>
</tr>
</tr>
    <td>15:10 - 15:40
    </td>
    <td>Coffee Break. 
    </td>
    <td>Coffee Break. 
    </td>
    <td>Coffee Break. 
    </td>
</tr>
</tr>
    <td>15:40 - 16:20
    </td>
    <td><p><a href="https://www.linkedin.com/in/niltonkazuyukiueda">Nilton Kazuyuki Ueda - AI Agents: Fronteira entre Humano e Maquina</a></p>
    </td>
    <td><p><a href="https://www.linkedin.com/in/dev-christiano-piccinin"> Christiano Piccinin  - FinOps voltado para Dados</a></p>
    </td>
    <td><a href="https://www.linkedin.com/in/rafaelmaferreira"> Rafael Martin Alves Ferreira - Pipelines com Azure DevOps: Automatizando o Provisionamento Seguro da sua infraestrutura na nuvem</a></p>
    </td>
</tr>
</tr>
    <td>16:20 - 17:10
    </td>
    <td><p><a href="https://www.linkedin.com/in/jannuzzi/"> Glauter Jannuzzi - Pense Grande, Cresça Livre: Seja líder de sua própria trajetória.</a></p>
    </td>
    <td>(Auditório da Reitoria). 
    </td>
    <td>(Auditório da Reitoria). 
    </td>
</tr>
</tr>
    <td>17:10 - 17:40
    </td>
    <td>Encerramento (Auditório da Reitoria). 
    </td>
    <td>(Auditório da Reitoria). 
    </td>
    <td>(Auditório da Reitoria). 
    </td>
</tr>

</tbody>
</table>

<h1 class="display-4">Global Sponsor</h1>
<img src="MSAMD.png" class="img-fluid" alt="Responsive image" width: 40px>
<h1 class="display-4">Patrocínio</h1>
<img src="univille.png" class="img-fluid" alt="Responsive image" width: 40px>
<img src="CDB.png" class="img-fluid" alt="Responsive image" width: 40px>
<img src="Domo.png" class="img-fluid" alt="Responsive image" width: 40px>
<img src="Dinamio.png" class="img-fluid" alt="Responsive image" width: 40px>
<h1 class="display-4">Apoio</h1>
<img src="Novatec.png" class="img-fluid" alt="Responsive image" width: 40px>
<img src="soucloud.png" class="img-fluid" alt="Responsive image" width: 40px>

    <!-- <div class="row">
        <div class="col-sm-6 mx-auto">
            <p class="lead">
                
            </p>
            <blockquote class="blockquote">
                <p class="mb-0"><small>O Portal Comunidado é uma plataforma para facilitar a visualização e acesso a dados que gerem impacto socioambiental positivo.
                Todo o material exibido aqui será devidamente referenciado.</small></p>            
            </blockquote>
            <p>                
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto">
        <form action="/" method="POST">
                <input type="text" name="busca"/>
                <button type="submit" class="btn btn-primary">Buscar</button>

        </form>
        </div>
    </div>
    </div>
    <br><br><br>


    <div class="d-flex justify-content-around bd-highlight">
    @{int i = 1;}
    @foreach (var item in Model)
    {
        
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title text-center bg-dark text-white">@item.visualnome</h5>
              
                <p class="card-text text-center d-flex justify-content-center">
                    @item.visualdesc
                </p>
                <p class="card-text">
                    <ul>
                        <li>Data: @item.visualdata</li>
                        <li>Palavras Chave: @item.visualkeywords</li>
                    </ul>
                </p>
                <a target="_blank" href="@item.visualurl" class="btn btn-primary d-flex justify-content-center">ACESSO</a>
            </div>
        </div>  
        
        if(i != 0  && i % 3 == 0)
        {
            @:</div><br><br><br><div class="d-flex justify-content-around bd-highlight">
        }
        i++; 
    }
    @if(i % 3 != 0)
    {
        @:</div>
    }
    
</div>
-->

