@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<dornel.Models.Visual>

<div class="text-center">
    <!--
    <h1 class="display-4">COMUNIDADO</h1>
    -->
    <img src="logo.jpeg" class="img-fluid" alt="Responsive image">
    <br>
    <h4>AQUI VOCÊ ENCONTRARÁ TODAS AS INFORMAÇÕES DO SQL SATURDAY 2025 !</h4>

<p><a href="https://www.sympla.com.br/sql-saturday-2025---joinvillesc---by-comunidado__2736164">INSCRIÇÕES</a></p>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfW7MBtkgVbTHlJYBoowHmi9lEJi6PWXEncrRGMMbaCkORAeg/viewform?usp=sf_link">QUERO PALESTRAR</a></p>

<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSe6Q3YOK0KPzzweYOWwEdaSYrBNFDcHhxEVoozJ8apPPQTeUA/viewform">QUERO PATROCINAR</a></p>

<p><a href="">GRADE (EM BREVE)</a></p>

 <table class="table">
        <thead>
<th>
Sala 01
</th>
<th>
    Sala 02
    </th>
    <th>
        Sala 03
        </th>
        
    
        </thead> 

        <tbody>
<tr>
    <td>Em breve. 
    </td>
    <td>Em breve. 
    </td>
    <td>Em breve. 
    </td>
</tr>
<tr></tr>
    <td>Em breve. 
    </td>
    <td>Em breve. 
    </td>
    <td>Em breve. 
    </td>
</tr>
        </tbody>
    </table>
    
     <div class="row">
        <div class="col-sm-6 mx-auto">
            <p class="lead">
                
            </p>
            <blockquote class="blockquote">
                <p class="mb-0"><small>O Portal Comunidado é uma plataforma para facilitar a visualização e acesso a dados que gerem impacto socioambiental positivo.
                Todo o material exibido aqui será devidamente referenciado.</small></p>            
            </blockquote>
            <p>                
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto">
        <form action="/" method="POST">
                <input type="text" name="busca"/>
                <button type="submit" class="btn btn-primary">Buscar</button>

        </form>
        </div>
    </div>
    </div>
    <br><br><br>
    <div class="d-flex justify-content-around bd-highlight">
    @{int i = 1;}
    @foreach (var item in Model)
    {
        
        <div class="card" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title text-center bg-dark text-white">@item.visualnome</h5>
                <img src="@item.miniatura" class="card-img-top"/>
                <p class="card-text text-center d-flex justify-content-center">
                    @item.visualdesc
                </p>
                <p class="card-text">
                    <ul>
                        <li>Data: @item.visualdata</li>
                        <li>Palavras Chave: @item.visualkeywords</li>
                    </ul>
                </p>
                <a target="_blank" href="@item.visualurl" class="btn btn-primary d-flex justify-content-center">ACESSO</a>
            </div>
        </div>  
        
        if(i != 0  && i % 3 == 0)
        {
            @:</div><br><br><br><div class="d-flex justify-content-around bd-highlight">
        }
        i++; 
    }
    @if(i % 3 != 0)
    {
        @:</div>
    }
    
</div>
